.user {
    width: 100%;
    max-width: 900px;
    border: 1px solid #888888;
    box-shadow: 5px 10px #888888;
    padding: 20px;
    margin-top: 25px;
    display: flex;
}

.user-card-wrapper h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
}

.user-title-wrapper {
    width: 40%;
}

.user-title-wrapper h2{   
    font-size: 1.8rem;
}

.user-title-wrapper img {
    width: 200px;
    border-radius: 50%;
}

.user-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.user-info-wrapper li {
    list-style: none;
    font-size: 1.6rem;
    margin: 5px 0;
    margin-right: 25px;
    width: auto;
}

.user-info-wrapper li a {
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 10px;
    color: #888888;
}

.user-info-wrapper li a:hover {
    color: firebrick;
}